
body {
    margin: 60px auto;
    width: 70%;
    padding: 25px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 15pt;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 1px 1px #4d4d4d
}

p {
    font-size: 12pt;
    line-height: 1.4em;
    color: black;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

html {
  font-size: 18px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


h1 {
	font-size: 50px;
	color: black;
	width: 100000px;
	border: 3px black;
}

html {
	background-color: #ACCBE0
}

body {
  width: 1200px;
  margin: 100 auto;
  background-color: #D3E0EA;
  padding: 15px 15px 100px 15px;
  border: 3px solid black;
}

.quote {
	border: 1px solid black;
}

#mainquote {
	color:darkslategray;
}

.importanttext {
	color:black;
}