nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 15pt;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a:{
    color: blue;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 1px 1px #4d4d4d
}

p {
    font-size: 12pt;
    line-height: 1.4em;
    color: black;
}

/* This next style is for really small & inconsequential captions */
h4 {
	font-size: 8pt;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

html {
  font-size: 18px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


h1 {
	font-size: 50px;
	color: black;
	border: 3px black;
}

html {
	background-color: #d5f4e6
}

#maintitle {
  color: white;
}

/*Using one of w3schools.com's suggested color palettes*/
/*Setting this so that if screen's super wide things don't get stretched too much*/
.mainbody {
  width: 900px;
  margin: 0px auto;
  background-color: #fefbd8;
  padding: 15px 15px 100px 15px;
  border: 3px solid black;
}

@media only screen and (max-width: 1200px){
   .mainbody {
    width: 75%;
    margin: 0px auto;
    background-color: #fefbd8;
    padding: 15px 15px 100px 15px;
    border: 3px solid black;
  }
}

.headsection 
{
  width: 900px;
  margin: 0px auto;
  background-color: #618685;
  padding: 15px 15px 0px 15px;
  border: 3px solid black;
}


@media only screen and (max-width: 1200px){
  .headsection 
  {
    width: 75%;
    margin: 0px auto;
    background-color: #618685;
    padding: 15px 15px 0px 15px;
    border: 3px solid black;
  }
}


.quote {
	    border: 1px solid black;
}

#mainquote {
	color:darkslategray;
}

/* The following style for block quotes is from: https://www.css-tricks.com/examples/Blockquotes/ */
blockquote {
  font: 14px/20px italic Helvetica, sans-serif; /* Adjust font size & style */
  color: darkslategray;
  font-style: italic;
  padding: 8px;
  background-color: #fefbd8; /* changed the colors here and below */
  border-top: 1px solid #0f2944;
  border-bottom: 1px solid #0f2944;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  blockquote span {
        display: block;
        background-image: url(images/closequote1.gif);
        background-repeat: no-repeat;
        background-position: bottom right;
        color: darkslategray
    }

.importanttext {
	color:black;
}

.centerme {
    text-align: center;
}

/*These next three chunks of code (for footnotes) are taken wholesale*/
/*from http://jsbin.com/cexeyegodo/edit?html,css,output*/
/*which I found from https://stackoverflow.com/questions/40336366/in-line-footnotes-with-only-html-css-in-notes*/
/*Just trying to make this look as FiveThirtyEight as possible*/
/*so you'll feel at home, but one massive .js full of repeats is */
/*enough, so I'm not using the .js version*/
.footnoteText {
  display: none;
  color: black;
  font-size: 10pt;
}
.footnote:focus + .footnoteText {
  display: block;
}
.close:focus .footnoteText {
  display: none;
}